.history
**/css/*
**/data/*
**/font/*
**/img/*
**/js/*
**/logs
*.html
**/**_com/data/*
!**/**_com/data/browsertime.pageSummary.json
!**/**_com/data/browsertime.har
!**/**_com/data/lighthouse.pageSummary.json
