.history
**/css/*
/*/*/*/*/*/data/*
**/font/*
**/img/*
**/js/*
**/logs
*.html
**/pages/*/data/*
!**/pages/*/data/browsertime.pageSummary.json
!**/pages/*/data/browsertime.har
!**/pages/*/data/lighthouse.pageSummary.json